@model RealTimeWebStore.Models.ProductModel

@{
    ViewBag.Title = "Welcome to the Pusher t-shirt Store";
}

@section headContent{
    <link href="@Url.Content("~/Content/jboesch-Gritter-2c36885/css/jquery.gritter.css")" rel="stylesheet" type="text/css" />
}

<h2>Welcome to the Pusher t-shirt Store</h2>

@{
    if(ViewBag.Info != null)
    {
        <div class="info">@ViewBag.Info</div>
    }
    
    if(ViewBag.Error != null)
    {
        <div class="error">@ViewBag.Error</div>
    }
}

<div class="product">
    <h3>@Html.DisplayFor(model => model.Title)</h3>
    
    @{
        if (Model.Images != null && Model.Images.Length > 0)
        {
    <img src="@Model.Images[0].ImageUrl" alt="@Model.Images[0].ImageAltText" class="shadow border" />
        }
    }

    <div class="description">
        <p>@Html.DisplayFor(model => model.Description)</p>

        <form class="buy" action="/" method="post">
            @{
                var stockStatusCSSClass = "in-stock";
                if (Model.StockLevel < 0)
                {
                    stockStatusCSSClass = "out-of-stock";
                }
            }

            <div class="stock @stockStatusCSSClass">
                <span class="status">@Model.StockStatus</span>

                <span class="level">@Model.StockLevel</span>
            </div>
            <input type="hidden" name="productId" value="@Model.ProductId" />
            <input name="buy" type="submit" value="Buy" class="shadow border" />
        </form>
    </div>
   
    <div class="whos-shopping border">
        <h3>Who's shopping?</h3>
        <ul></ul>
    </div>
</div>

<script src="http://js.pusherapp.com/1.9/pusher.js"></script>
<script src="@Url.Content("~/Content/jboesch-Gritter-2c36885/js/jquery.gritter.min.js")"></script>
<script>
    Pusher.log = function(message) {
        var msg = document.createTextNode(message);
        var el = document.createElement("div");
        el.className = "log-msg";
        el.appendChild(msg);
        document.body.appendChild(el);
    };

    $(function() {

        var stockLevelEl = $(".product .stock .level");
        var stockStatusEl = $(".product .stock .status");
        var orgTextSize = stockLevelEl.css('fontSize');
        var productId = "@Model.ProductId";

        var pusher = new Pusher("006c79b1fe1700c6c10d");
        var channel = pusher.subscribe("presence-" + productId);
        channel.bind("pusher:subscription_succeeded", function(members) {

            members.each(function(member) {
                addMember(member);
            });

        });
        channel.bind("pusher:member_added", function(member) {
            addMember(member);
        });
        channel.bind("pusher:member_removed", function(member) {
            removeMember(member);
        });

        function addMember(member) {
            var enteredSite = new Date(member.info.timestamp);
            var now = new Date();
            var timeOnSite = (now - enteredSite);
            var li = $("<li data-user-id='" + member.id + "'>" +
                            member.id + " here for " +
                            toReadableTime(timeOnSite) +
                       "</li>");
            $(".whos-shopping ul").append(li);
        };

        function removeMember(member) {
            $(".whos-shopping ul li[data-user-id='" + member.id + "']").remove();
        };

        function toReadableTime(ticks) {
            var seconds = Math.floor(ticks / 1000);
            var secondsInHour = (60 * 60);
            var timeOnSite = seconds + " seconds";
            if (seconds > secondsInHour) {
                timeOnSite = "about " + Math.floor(seconds / secondsInHour) + " hours";
            }
            else if (seconds > 60) {
                timeOnSite = "about " + Math.floor(seconds / 60) + " minutes";
            }
            return timeOnSite;
        };

        channel.bind("stockUpdated", function(update) {
            animate(stockLevelEl, '8px', function() {
                stockLevelEl.text(update.StockLevel);
                stockStatusEl.text(update.StockStatus);
                animate(stockLevelEl, orgTextSize);

                if (update.SocketId !== pusher.connection.socket_id) { // only show if we didn't make the purchase
                    if (update.StockLevel > 0) {
                        addNotification("Another one sold",
                            "That's another one sold. You'd best hurry, there's only " + update.StockLevel + " left in stock.");
                    }
                    else {
                        addNotification("Out of stock", "Too slow, we're all out of stock now");
                    }
                }
            });
        });

        function animate(el, to, callback) {
            el.animate({
                'fontSize': to
            }, 600, '', function() {
                if (callback) {
                    callback();
                }
            });
        };

        $(".product form").submit(function() {
            $.ajax({
                type: "POST",
                url: "/store",
                data: "productId=" + productId + "&socketId=" + pusher.connection.socket_id,
                success: function() {
                    addNotification("T-Shirt Purchase successful", "You now own a mighty fine Pusher t-shirt. Congratulations!", "gritter-success");
                },
                error: function() {
                    addNotification("Sorry, Out of stock", "Sorry, that product you are trying to buy is out of stock.", "gritter-fail");
                }
            });

            return false;
        });

        function addNotification(title, text, className) {
            $.gritter.add({
                title: title,
                text: text,
                class_name: className
            });
        };
    });
</script>